@import url("grid.css");

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --bgColor-one: #f2f8f9;
}

/* Classes */
.d-flex {
  display: flex;
}
.d-flex-col {
  display: flex;
  flex-direction: column;
}
.d-flex-row {
  display: flex;
  flex-direction: row;
}
.box-center {
  justify-content: center;
  align-items: center;
}
.form-group {
  margin-bottom: 1.35em;
}
.form-group .label {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}
.form-control {
  box-shadow: none;
  line-height: 14px;
  font-weight: 300;
  display: block;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #ddd;
}
.btn-block {
  width: 100%;
}
.custombtn {
  will-change: transform;
  box-shadow: 0px 12px 38px 0px rgba(137, 3, 0, 0.15);
  transition: all 0.3s ease;
}
.custombtn:active {
  box-shadow: 0px 9px 38px 0px rgba(137, 3, 0, 0.12);
  transform: translateY(1.2px);
}

.j_breadcrumb_list li {
  list-style-type: none;
  display: inline;
}

.j_breadcrumb_list li:nth-child(n + 1) {
  padding-left: 10px;
}
.j_breadcrumb_list li:first-child {
  padding-left: 0;
}

.j_breadcrumb_list > li a {
  color: #727cf5;
  font-size: 15px;
  text-decoration: none;
}
.j_breadcrumb_list > li:last-child a {
  color: #0b2135;
}
.j_breadcrumb_list > li::after {
  content: "\00bb";
  padding-left: 10px;
  color: #b3b3b3;
  font-size: 19px;
}
.j_breadcrumb_list > li:last-child::after {
  content: " ";
}

.j_visually_hidden {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  clip: rect(1px 1px 1px 1px); /* IE6,IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.j_select {
  width: 100%;
  height: 40px;
  padding: 4px;
  border-radius: 2px;
  font-size: 15.5px;
  border: 1px solid #92aabb;
  outline: none;
  color: black;
  letter-spacing: 0.3px;
}

.j_select:focus {
  border-color: rgba(55, 125, 255, 0.5);
  box-shadow: 0 0 25px rgba(152, 185, 247, 0.14);
}
.j_select option {
  font-size: 15.5px;
  color: #111b92;
}

/* End Classes */
body {
  padding: 0;
  background: #f2f8f9;
  overflow-x: hidden;
}

label {
  display: inline-block;
  margin-bottom: 0.5em;
}

input {
  font-size: 1.05em;
  padding: 10px 12px;
  height: 45px;
  outline: 0;
}

button,
input[type="button"],
input[type="submit"] {
  border: none;
  position: relative;
  display: block;
  padding: 9px;
  height: 47px;
  font-size: 18px;
  text-transform: capitalize;
  border-radius: 3px;
  outline: none;
  letter-spacing: 0.55px;
  user-select: none;
}

ul {
  list-style: none;
  padding: 0;
}

/* Button Colors */
[data-color="blue"] {
  background: hsl(216, 76%, 57%);
  color: white;
}
button[data-color="blue"]:hover,
input[type="button"][data-color="blue"]:hover,
input[type="submit"][data-color="blue"]:hover {
  background: hsl(216, 76%, 50%);
}

[data-color="green"] {
  background-color: hsl(128, 41%, 58%);
  color: white;
}
button[data-color="green"]:hover,
input[type="submit"][data-color="green"]:hover,
input[type="button"][data-color="green"]:hover {
  background: hsl(128, 41%, 48%);
}

[data-color="grey"] {
  text-shadow: 0 1px 0 #fff;
  background: #f6f9fc;
  background: #eff1f4;
  background: linear-gradient(#f7f8fa, #eff1f4);
  box-shadow: inset 0 2px 0 #fff;
  color: #000000;
}

button[data-color="grey"]:hover,
input[type="button"][data-color="grey"]:hover,
input[type="submit"][data-color="grey"]:hover {
  background: linear-gradient(#dadbdf, #eff1f4);
  box-shadow: inset 0 2px 2px #fff;
}

/* PRESENTATIONAL STYLING */
.j_container {
  width: 100%;
  background-color: #f2f8f9;
  height: 100vh;
}

/* INPUT FORM FOCUS STYLE */
.focus-form {
  outline: 0;
  transition: all 0.21s ease-in-out;
}
.focus-form:focus {
  border-color: rgba(55, 125, 255, 0.5);
  box-shadow: 0 0 25px rgba(55, 125, 255, 0.1);
}
/* INPUT FORM FOCUS STYLE */
/* ERROR MESSAGE */
.errMsg {
  width: 540px;
  height: 100%;
  margin: auto auto;
  background-image: url("images/Icon_Error.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 0 50%;
  padding: 25px 0;
}
.login__error {
  padding-left: 50px;
  padding-bottom: 0;
  color: #0b2135;
  font-size: 17px;
  letter-spacing: 0.2px;
}
/* ERROR MESSAGE */

.kip::before {
  content: " ";
  display: table;
}

.kipclear::after {
  content: " ";
  clear: both;
}
nav.j_navbar {
  position: relative;
  display: block;
  min-height: 70px;
  padding: 0.4rem 15px;
  box-shadow: 0 4px 38.7px 11.3px rgba(8, 143, 220, 0.09);
  background: white;
  margin-bottom: 17px;
}
nav.j_navbar.fixed {
  position: fixed;
  top:0;
  width: 100%;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 0 15px;
}
nav .navbar__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.navbar__brand {
  display: inline-block;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .navbar__brand {
    float: left;
    margin-right: 0;
    margin-left: 0;
  }
}
.navbar__brand-content {
  float: left;
  height: 65px;
  padding: 0.7rem 0;
  line-height: 1.65rem;
}
.navbar__brand-content img {
  vertical-align: sub;
}

.navbar__brand img {
  border-right: 4px double #ddd;
  padding: 0 6px;
  height: 100%;
  object-fit: contain;
}

.navbar__brand img + span {
  height: 100%;
  font-size: 20px;
  padding-left: 4px;
  letter-spacing: 0.25px;
  font-family: consolas;
}

.nav__links > li {
  position: relative;
  display: block;
  top:8px;
}

@media (min-width: 768px) {
  nav .nav__links {
    float: left;
    margin: 0;
  }
  .nav__links > li {
    float: left;
  }
}

.nav__links > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  line-height: 20px;
   top:8px;
}

@media (min-width: 768px) {
  .nav__links > li > a {
    padding: 20px 15px;
  }
}
@media (min-width: 768px) {
  .nav__links-right {
    float: right !important;
    margin-right: -15px;
  }
}

.nav__links a {
  color: #0b2135;
  font-size: 17px;
  font-family: consolas, sans-serif;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  outline: 0;
  text-decoration: none;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown__arrow {
  font-size:14px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 195px;
  float: left;
  right: 6px;
  top: 100%;
  box-shadow: 0px 8px 38px 2px rgba(125, 125, 125, 0.25);
  border-radius: 2px;
  z-index: 10;
}
@media (min-width: 768px) {
  .dropdown-content {
    top: 65px;
  }
}
.dropdown-content::before {
  content: " ";
  position: absolute;
  display: block;
  top: -15px;
  right: 7px;
  width: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid white;
}

.dropdown-content a {
  color: #586ada;
  padding: 11px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-transform: capitalize;
}
.dropdown-content a:hover {
  background-color: #f7fafc;
  color: #2b2d50;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav__user {
  position: relative;
  border: 1px solid #f1f3fa21;
  border-width: 0 1px;
  width: 100px;
  min-height: 67px;
  display: inline-block !important;
}
.nav__user .account-user-avatar {
  position: absolute;
  bottom: 24px;
  left: 15px;
  height: 29px;
  width: 29px;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(59, 65, 94, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.07);
  background: white;
}
.nav__user .account-user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav__user .account-user-role {
  position: absolute;
  left: 50px;
  bottom: 24px;
}

.page__title .title {
  font-size: 23px;
  margin: 0;
  font-family: consolas;
  line-height: 26px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #6c757d;
}

.j_card {
  box-shadow: 0px 6px 38px 2px rgba(125, 125, 125, 0.2);
  background: #ffffff;
  border-radius: 4px;
  margin: 0 auto;
}

.details .table-cell {
  font-size: 16px;
  color: #0b2135;
  font-weight: bold;
}
.details .table-cell.cell-label {
  color: hsla(0, 0%, 0%, 0.637);
}

/* ACCOUNT SEARCH DETAILS */
/* Tables found in process.php */
.account_searchdetails {
  border: 1px solid black;
}
.account_searchdetails td {
  text-align: center;
  border: 1px solid blue;
}
.account_searchdetails .tr_td-dates {
  width: 22% !important;
}
.account_searchdetails .tr_td-particulars {
  width: 39% !important;
}
.account_searchdetails td:nth-child(3) {
  width: 13% !important;
}
.account_searchdetails td:nth-child(4) {
  width: 13% !important;
}
.account_searchdetails td:last-child {
  width: 13% !important;
}
/* ACCOUNT SEARCH DETAILS */

@media (max-width: 480px) {
  .navbar__brand-content {
    float: unset;
  }
  .section__container {
    width: 100%;
  }
}

/* ActionBar Users Page */
.actionbar ul {
  padding: 0;
  margin: 0 -15px 17px -15px;
}
.actionbar ul li {
  display: inline-block;
  padding: 5px;
  border: 1px solid #ddd;
}
.actionbar ul li .actionbar__icon img {
  width: 28px;
}
.actionbar ul li .actionbar__text {
  text-transform: capitalize;
}
/* ActionBar Users Page */
/* END PRESENTATIONAL STYLING */
