.DonutChart__chart {
	& circle {
		--duration: 1500ms;

		&.progress__meter {
			stroke-dashoffset: 0;
			stroke-dasharray: 0 0;
		}

		&.progress__value {
			--stroke-duration: var(--duration);
			transform: rotate(-90deg);
			animation: strokeLoad var(--stroke-duration) ease forwards;
		}
	}
}

.DonutChart__chartLabel {
	border-radius: 50%;
	transform: translate(1px, 0px);

	& text {
		text-anchor: middle;
	}
}

.progress__meter {
	stroke: #e6e6e6;
}

.progress__value {
	stroke: #f77a52;
	stroke-linecap: round;
}

@keyframes strokeLoad {
	from {
		stroke-dasharray: 240, 1000;
	}

	// 100% {
	// 	// stroke-dasharray: 628.319;
	// 	stroke:yellow;
	// }
}

.DonutChart__legend {
	max-width: 300px;
}

.DonutChart__legend-listItemDot {
	width: 20px;
	height: 20px;
	color: #cfd7df;

	&::after {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: currentColor;
		transition: background-color var(--duration) ease, opacity var(--duration) ease, transform var(--duration) ease;
		content: "";
	}

	&>svg {
		color: #aab7c4;
	}
}

.DonutChart__legendItemLabel {
	height: 28px;
}