body {
  background-color: var(--bg-gray-300);
}

.ContentHeader:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}


// ACCESSIBILITY
.sr-only {
  position: 'absolute';
  width: '1px';
  height: '1px';
  padding: '0';
  margin: '-1px';
  overflow: 'hidden';
  clip: 'rect(0, 0, 0, 0)';
  white-space: 'nowrap';
  border-Width: '0';
}

// UL UNSET
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

label,
button,
a {
  user-select: none;
}