//@define Modal Overide
.ModalLayer-wash {
  grid-template-rows: minmax(40px, 1fr) auto minmax(40px, 3fr);
  grid-template-columns: 40px 8fr 40px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(193, 201, 210, .7);
  opacity: var(--j);

  @media(max-width:562px) {
    grid-template-rows: minmax(12px, 1fr) auto minmax(12px, 1fr);
    grid-template-columns: 12px auto 12px;
  }

  &.ModalLayer-wash--entered,
  .ModalLayer-wash--entering {
    --j: var(--notj);
    transition: opacity .3s ease-in-out;
  }

  & .ModalLayer-content {
    grid-row: 2;
    grid-column: 2;
    min-height: 100%;
    outline: none;
  }

  & .modal-dialog {
    grid-column: 2;

    &[data-size="alert"] {
      width: 100%;
      max-width: 320px;
      min-width: 260px;
    }

    &[data-size="modal"] {
      width: 100%;
      max-width: 540px;
      min-width: 450px;
    }

    @media(min-width:567px) {
      max-width: unset;
      margin: 0;
    }

    & .modal-content {
      border: none;
    }

    & .modal-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & .modal-title {
        flex: 1 1 0;
      }

      & button {
        display: flex;
        width: 50px;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
      }
    }
  }
}

body {
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .close {
      padding: unset;
      margin: unset;
      float: unset;
    }

    & .modal-title {
      flex: 1 1 0;
    }

    & button {
      display: flex;
      width: 50px;
      justify-content: flex-end;
      align-items: center;
      margin: 0;
      background: white;

      &:focus {
        box-shadow: none!important;
      }
    }
  }
}

.modal.fade {
  background-color: rgba(82, 95, 127, 0.25) !important;
  transition: opacity 0.2s ease-in-out !important;
}

.modal.fade .modal-dialog {
  transition: transform 0.4s ease, opacity 0.18s ease-in-out !important;
  transform: scale(0.95) !important;
  opacity: 0 !important;
}

.modal.show .modal-dialog {
  transform: scale(1) !important;
  opacity: 1 !important;
}

//@define Table Overide
.table.db-objectListTable thead th {
  font-weight: 500;
  color: var(--text-color-dark);
  border-bottom-color: #dee2e6;
  background-color: var(--gray-lightest);
}

.table-hover tbody tr:hover {
  color: var(--text-color-dark);
  background-color: #f7f7f96e;
}

//@define FullWidth Navbar
.no-siderBar-fullWidth-navbar .navbar-nav .nav-link {
  padding-left: 4px;
  padding-right: 4px;
}

.no-siderBar-fullWidth-navbar .nav-link {
  color: var(--text-gray);
  font-size: 15px;
  transition: 0.25s ease-in-out;

  &:not(.link-is-active):hover {
    color: var(--text-color-dark);
  }

  &:not(.dropdown-toggle)::after {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: calc((var(--baseNumber) * 1px) / 3);
    height: var(--j);
    width: 70%;
    left: var(--j);
    transition: 0.25s ease-in-out;
  }

  &.link-is-active {
    color: var(--text-color-dark);
    font-weight: 500;
    letter-spacing: 0.35px !important;

    &::after {
      background-color: var(--color-primary);
      height: calc(var(--baseNumber)* 1px);
    }
  }

  &:not(.link-is-active):hover::after {
    background-color: var(--color-primary-lighter);
    height: calc(var(--baseNumber)* 1px);
  }

}

//@define Nav-tabs 
.nav-tabs {
  box-shadow: var(--shadow-medium);
}

.nav-tabs .nav-link {
  border: none;
  border-radius: 0;
  padding: 0.7rem 1rem;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border: none;
  border-bottom: 0;
  color: var(--text-color-dark);
  box-shadow: inset -1px 0 var(--bg-gray-300);
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: var(--text-color-blue);
}

.contentTab-bar--default {
  height: 3px;
}

.contentTab-bar {
  left: -1px;
  opacity: var(--j);
  transition: opacity 400ms ease-in-out;
}

.nav-tabs .nav-link.active .contentTab-bar {
  opacity: var(--notj);
}


.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.form-control:focus {
  border-color: var(--color-primary);
}

button:focus {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.12) 0px 2px 5px 0px !important;
}

@media(max-width:720px) {
  .mb-space--8 {
    margin-bottom: 8px;
  }

  .mb-space--12 {
    margin-bottom: 12px;
  }
}