:root {
  --baseMultiplier: 4;
  --sidebar-width-lg: 250px;
  --baseContentSize: 1.5rem;

  //BGCOLORS
  --bg-gray-100: #f7fafc;
  --bg-gray-200: #edf2f7;
  --bg-gray-300: #e3e8ee;

  //COLOR 
  --blue-100: #d6ecff;
  --blue-800: #2c5282;
  --blue-900: #2a4365;
  --blue: #5469d4;
  --danger: rgb(205, 61, 100);

  --green-500: #48bb78;
  --green-800: #276749;
  --green-900: #22543d;

  --red-600: #ed5f74;
  --red-700: #c53030;
  --red-800: #9b2c2c;
  --red-900: #742a2a;


  //TEXTCOLORS
  --text-gray--def: #3c4257;
  --text-gray: #697386;
  --text-gray-700: #4a5568;
  --text-gray-600: #4f566b;
  --text-color-dark: #1a1f36;
  --text-color-blue: #5469d4;
  --text-color-blue600: #3d4eac;
  --text-color-bluemartin: #32325d;
  --text-color-disabled: #a3acb9;


  // NAVBRAND IMG
  --logo-lg-width: 3.7rem;
  --logo-mini-width: 40px;

  //NAVBAR SEARCH FORM
  --search-width-block: 564px;

  //DEPTH
  --shadow-small: 0 2px 5px 0 rgba(60, 66, 87, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  --shadow-medium: 0 7px 14px 0 rgba(60, 66, 87, 0.12), 0 3px 6px 0 rgba(0, 0, 0, 0.12);
  --primary-shadowColor: var(--color-primary-dark);
  --danger-shadowColor: rgb(205, 61, 100);

  //GRAPHICS
  --baseDuration: .4s;
  --easing: cubic-bezier(.7, 0, .3, 1);
  --duration: var(--baseDuration);

  //LOGIC
  --j: 0;
  --notj: calc(1 - var(--j))
}


// UTITLITIES
.box-root {
  box-sizing: border-box;
}

.h-100--vh {
  height: 100vh;
}

.box-hideIfEmpty:empty {
  display: none;
}

.user-select--none {
  user-select: none;
}

.d-grid {
  display: grid;
}

.w-8 {
  width: 2rem;
}

.min-width--150 {
  width: 150px
}

.card-root {
  overflow: hidden;
}

.overflow-y--auto {
  overflow-y: auto;
}

.overflow-x--hidden {
  overflow-x: hidden;
}

.card--radius--all {
  border-radius: 4px;
}

.card--shadow--small {
  box-shadow: var(--shadow-small);
}

.card--shadow--medium {
  box-shadow: var(--shadow-medium);
}

.box--bg--white {
  background-color: var(--white, #fff);
}

.box--bg--offset {
  background-color: var(--bg-gray-100, #f7fafc);
}

.box--bg--surface {
  background-color: var(--bg-gray-300, #e3e8ee);
}

.box--bg--blue100 {
  background-color: var(--blue-100);
}

.box--bg--blue {
  background-color: var(--blue);
}

.box--bg--danger {
  background-color: var(--danger);
}


//@define DIVIDERS
.box-divider--light-bottom-1 {
  box-shadow: inset 0 -1px var(--bg-gray-300);
}

.box-divider--light-right-1 {
  box-shadow: inset -1px 0 var(--bg-gray-300);
}

.box-divider--light-top-1 {
  box-shadow: inset -1px 0 var(--bg-gray-300);
}

.box-divider--light-vertical-1 {
  box-shadow: inset 0 -1px var(--bg-gray-300), inset 0 1px var(--bg-gray-300);
}

.text-wrap--wrap {
  white-space: normal !important;
}

//@define TEXT COLORS
.text-color--default {
  color: var(--text-gray--def);
}

.text-color--def {
  color: var(--text-gray--def);
}

.text-color--gray {
  color: var(--text-gray);
}

.text-color--dark {
  color: var(--text-color-dark, #1a1f36);
}

.text-color--blue {
  color: var(--text-color-blue);
}

.text-color--gray600 {
  color: var(--text-gray-600);
}

.text-color--blue600 {
  color: var(--text-color-blue600);
}

.text-color--martinique {
  color: var(--text-color-bluemartin);
}

.text-color--disabled {
  color: var(--text-color-disabled);
}

.text-color--green500 {
  color: var(--green-500);
}

.text-color--green800 {
  color: var(--green-800);
}

.text-color--green900 {
  color: var(--green-900);
}

.text-color--red600 {
  color: var(--red-600);
}

.text-color--red700 {
  color: var(--red-700);
}

.text-color--red900 {
  color: var(--red-800);
}

.text-color--red900 {
  color: var(--red-800);
}


//@define Flex
.flex-100 {
  flex: 1 1 auto;
}

.flex-grow--1 {
  flex-grow: 1;
}

.flex-basis--0 {
  flex-basis: 0px;
}

.flex-0-0--auto {
  flex: 0 0 auto;
}

.flex-1-1--0 {
  flex: 1 1 0%;
}

.flex-1-1--auto {
  flex: 1 1 auto;
}

.flex-2-1--0 {
  flex: 2 1 0%;
}


//@define TEXT UTITLITY
.text-numericSpacing--proportional {
  font-feature-settings: "pnum";
  font-variant: proportional-nums;
}

.text-numericSpacing--tabular {
  font-feature-settings: "tnum";
  font-variant: tabular-nums;
}

.textAligner::before {
  content: "\200B";
}

// @define outline
.outline--none {
  outline: none;
}

/** @define Table **/

.ctTable {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}


/**Pointer Events **/
.pointer-events--none {
  pointer-events: none;
}

.pointer-events--auto {
  pointer-events: auto;
}

.pointer--cursor {
  cursor: pointer;
}

// /** Table - cell **/

// /**
// * The alignment values for the `td` in Table is done with a CSS class because
// * `align` isn't supported in HTML5 on a `td` which means React doesn't support
// * it either.
// **/

// /** Table - cell -- align **/

.table-cell--align--center {
  text-align: center;
}

.table-cell--align--left {
  text-align: left;
}

.table-cell--align--right {
  text-align: right;
}

// /** Table - cell -- verticalAlign **/

.table-cell--verticalAlign--bottom {
  vertical-align: bottom;
}

.table-cell--verticalAlign--middle {
  vertical-align: middle;
}

.table-cell--verticalAlign--top {
  vertical-align: top;
}

// /** Table - cell -- width **/

.table-cell--width--auto {
  width: auto;
}

.table-cell--width--maximized {
  width: 100%;
}

.table-cell--width--minimized {
  width: 1px; ///** 1px allows the cell to be as small as possible without being too destructive **/
}

.table-cell--maxWidth--auto {
  max-width: auto;
}

.table-cell--maxWidth--maximized {
  max-width: 100%;
}

.table-cell--maxWidth--minimized {
  max-width: 1px; ///** 1px allows the cell to be as small as possible without being too destructive **/
}

.table-cell--minWidth--auto {
  min-width: auto;
}

.table-cell--minWidth--maximized {
  min-width: 100%;
}

.table-cell--minWidth--minimized {
  min-width: 1px; ///** 1px allows the cell to be as small as possible without being too destructive **/
}

// /** Table - cell -- wrap **/

.table-cell--wrap--noWrap {
  white-space: nowrap;
}

.table-cell--wrap--wrap {
  white-space: normal;
}

.placeholderCell {
  height: 1px;
  max-width: 48px;
  min-width: 48px;
  width: 48px;
}

.placeholderCell.minimized {
  height: 1px;
  max-width: 10px;
  min-width: 10px;
  width: 10px;
}

// @define LinkUnstyled
.unstyledLink {
  margin: 0;
  padding: 0;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  font-style: inherit;
  text-align: inherit;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.unstyledLink:hover {
  color: inherit;
  text-decoration: none;
}

.text-decoration--none {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.CardLayout__footer-hasSeperator {
  border-top: 1px solid #eaeaea;
}



//@define SCALES
$class-slug: padding-vertical !default;
$padding-horizontal-slug: padding-horizontal !default;
$box-padding:padding-all !default;
$box-padding-bottom:padding-bottom !default;
$box-padding-right:padding-right !default;
$box-padding-left:padding-left !default;
$box-padding-top:padding-top !default;
$margin-vertical-slug: margin-vertical !default;
$margin-top: margin-top !default;
$margin-left: margin-left !default;
$margin-right: margin-right !default;
$margin-bottom: margin-bottom !default;
$font-scale : font-size !default;
$lineHeight-scale: line-height !default;
$column-count: column-count !default;


@for $i from 1 through 24 {
  .#{$class-slug}--#{$i*2} {
    padding-top: 0px + $i * 2;
    padding-bottom: 0px + $i * 2;
  }

  .#{$padding-horizontal-slug}--#{$i*2} {
    padding-left: 0px + $i * 2;
    padding-right: 0px + $i * 2;
  }

  .#{$box-padding}--#{$i*2} {
    padding: 0px + $i * 2;
  }

  .#{$box-padding-left}--#{$i*2} {
    padding-left: 0px + $i * 2;
  }

  .#{$box-padding-right}--#{$i*2} {
    padding-right: 0px + $i * 2;
  }

  .#{$box-padding-bottom}--#{$i*2} {
    padding-bottom: 0px + $i * 2;
  }

  .#{$box-padding-top}--#{$i*2} {
    padding-top: 0px + $i * 2;
  }

  .#{$margin-top}--#{$i*2} {
    margin-top: 0px + $i * 2;
  }

  .#{$margin-left}--#{$i*2} {
    margin-left: 0px + $i * 2;
  }

  .#{$margin-right}--#{$i*2} {
    margin-right: 0px + $i * 2;
  }

  .#{$margin-bottom}--#{$i*2} {
    margin-bottom: 0px + $i * 2;
  }

  .#{$margin-vertical-slug}--#{$i*2} {
    margin-top: 0px + $i * 2;
    margin-bottom: 0px + $i * 2;
  }
}

@for $i from 6 through 24 {
  .#{$font-scale}--#{$i*2} {
    font-size: 0px + $i * 2;
  }
}

@for $i from 8 through 24 {
  .#{$lineHeight-scale}--#{$i*2} {
    line-height: 0px + $i * 2 !important;
  }
}


@for $i from 1 through 24 {
  .#{$column-count}--#{$i*2} {
    column-count: $i * 2;
  }
}

//@define odd FontSize Number
.font-size--13 {
  font-size: 13px;
}

// @define Placement Controls
.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.inset-y-0 {
  top: 0;
  bottom: 0;
}

.inset-x-0 {
  right: 0;
  left: 0;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.inset-auto {
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}

.inset-y-auto {
  top: auto;
  bottom: auto;
}

.inset-x-auto {
  left: auto;
  right: auto;
}

.top-auto {
  top: auto;
}

.bottom-auto {
  bottom: auto;
}

.left-auto {
  left: auto;
}

.right-auto {
  right: auto;
}


// @define Pressure Pressable items
.Pressable-core {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
}

.PressableCore--width {
  max-width: 100%;
}

.PressableContext--height--medium,
.PressableCore--height--medium {
  min-height: 28px;
}

.PressableContext--radius--left,
.PressableCore--radius--left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.PressableContext--cursor--pointer,
.PressableCore--cursor--pointer {
  cursor: pointer;
}

.PressableCore-base {
  position: relative;
  z-index: 1;
  display: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
  width: inherit;
  height: inherit;
  border-radius: inherit;
}