/* Fonts */

// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@font-face {
    font-family: adelle;
    font-weight: 700;
    font-style: normal;
    src: url(../../fonts/adelle/adelleBold.woff2) format("woff2"),
}

@font-face {
    font-family: adelle;
    font-weight: 500;
    font-style: normal;
    src: url(../../fonts/adelle/adelleMedium.woff2) format("woff2"),
}

@font-face {
    font-family: adelle;
    font-weight: 400;
    font-style: normal;
    src: url(../../fonts/adelle/adelleRegular.woff2) format("woff2"),
}

* {
    font-family: adelle, proxima nova, helvetica neue, Helvetica, Arial, sans-serif!important;
    // color: #33334f;
    letter-spacing: 0.35px!important;
}