.mc-content-mini {
  max-width: 480px;
}

.mc-content-medium {
  max-width: 540px;
}

@media(max-height:800px) {
  .loginContainer {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}