.page-body-wrapper {
	min-height: calc(100vh - #{$navbar-height});
	display: flex;
	flex-direction: row;
	padding-left: 0;
	padding-right: 0;

	&.full-page-wrapper {
		width: 100%;
		min-height: 100vh;
	}
}

.main-panel {
	transition: width $action-transition-duration $action-transition-timing-function, margin $action-transition-duration $action-transition-timing-function;
	width: 100%;
	padding-left: calc(var(--sidebar-width-lg) + 10px);
	min-height: calc(100vh - #{$navbar-height});
	display: flex;
	flex-direction: column;

	&.no-siderBar-fullWidth {
		padding-left: 0;
	}

	@media (max-width: 991px) {
		margin-left: 0;
		width: 100%;
	}
}

.content-wrapper {
	background: var(--bg-gray-300);
	padding: 1.5rem 1.7rem;
	padding: calc(var(--baseContentSize) + 1.25rem) calc(var(--baseContentSize) + 2rem);
	width: 100%;
	flex-grow: 1;
	position: relative;

	&.full-bleed {
		padding: 1px 0;
		flex-grow: unset;
	}

	// &::after {
	//     content: " ";
	//     height: 0.5rem;
	//     background: url('../../images/color_bar.svg');
	//     background-size: cover;
	//     margin: -1.5rem -3.5rem;
	//     margin-top: 1.5rem;
	//     display: block;
	// }
}

.container-scroller {
	overflow: hidden;
}

.page-header {
	display: flex;
	width: 100%;
	padding-bottom: 15px;
	border-bottom: 1px solid $border-color;
	margin-bottom: 15px;

	@media (max-width: 992px) {
		display: inline-block;
	}
}

.page-title {
	margin-top: 0;
	margin-bottom: 2px;

	@media (max-width: 992px) {
		margin-botttom: 15px;
	}
}

.quick-links {
	list-style: none;
	margin-bottom: 0;
	display: inline-flex;
	align-items: center;
	margin-top: 4px;
	padding-left: 0;

	@media (min-width: 992px) {
		padding-left: 10px;
	}

	li {
		margin-right: 10px;
		border-right: 1px solid $body-color;
		line-height: 1;

		a {
			display: inline-block;
			color: $body-color;
			text-decoration: none;
			padding-right: 10px;
		}

		&:last-child {
			margin-right: 0;
			border-right: none;

			a {
				padding-right: 0;
			}
		}
	}
}

.page-title-header {
	margin-bottom: 20px;
}

.page-header-toolbar {
	display: flex;
	align-items: center;
	width: 100%;

	@media (max-width: 992px) {
		display: inline-block;

		.toolbar-item {
			margin-top: 20px;
		}
	}

	.btn-group,
	.btn {
		border: none;

		i {
			font-size: 1.24rem;
			color: $page-header-toolbar-btn-color;
		}

		&.dropdown-toggle {
			&:after {
				color: $page-header-toolbar-btn-color;
			}
		}
	}
}

.filter-wrapper {
	display: flex;
	margin-left: 15px;

	@media (max-width: 992px) {
		margin-left: 0;
	}
}

.sort-wrapper {
	display: flex;
	width: 46%;

	@media (max-width: 992px) {
		width: 100%;
	}
}

.advanced-link {
	display: flex;
	align-items: center;
	margin-left: 30px;
	margin-right: 20px;
	white-space: nowrap;
}

.simple_verticalSeperator::before {
	--height: 70px;
	--baseNumber: 4px;
	position: relative;
	height: calc(var(--height)/2);
	width: calc(var(--baseNumber) / 2);
	margin: 0 calc(var(--baseNumber) * 4) 0 0;
	content: "";
	background-color: #D8D8D8;
	// transform: translateY(-50%);
	// top: calc(var(--height)/2);
}

.avatar {
	width: 42px;
	height: 42px;

	&-small {
		width: 36px;
		height: 36px;
	}

	&-title {
		border: 2px solid #fff;
		box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.045);
	}
}

// @define Tent Card Raise
.Tent {
	--border-radius: 8px;
	position: relative;
	transition: transform .2s cubic-bezier(.215, .61, .355, 1);
	transform: translateY(0);
	display: block;

	& .Tent__action {
		box-shadow: none;
		transition: opacity 0.25s cubic-bezier(.215, .61, .355, 1), transform .4s cubic-bezier(.215, .61, .355, 1);
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;

		@media(min-width:670px) {
			opacity: var(--j);
			transform: translateY(50%);
		}
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: opacity .4s cubic-bezier(.215, .61, .355, 1);
		pointer-events: none;
		border-radius: 4px;
	}

	&::before {
		box-shadow: 0 6px 12px -2px rgba(50, 50, 93, .25), 0 3px 7px -3px rgba(0, 0, 0, 0.0);
	}

	&::after {
		box-shadow: 0 50px 100px -20px rgba(50, 50, 93, .25), 0 30px 60px -30px rgba(0, 0, 0, .45), 0 -18px 60px -10px rgba(0, 0, 0, .025);
		opacity: var(--j);
	}

	@media(min-width: 670px) {
		&--hasAction:hover::before {
			opacity: var(--j);
		}

		&--hasAction:hover::after {
			--j: var(--notj);
		}

		&--hasAction:hover {
			z-index: 2;
			transform: translateY(-2px);
		}

		&--hasAction:hover .Tent__action {
			--j: var(--notj);
			transform: translateY(0);
		}

	}
}

// @define Custom Scrollbars
.slickscroll--2::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 12px;
	background-color: #FeFeFe;
}

.slickscroll--2::-webkit-scrollbar {
	width: 6px;
	background-color: #FeFeFe;
}

.slickscroll--2::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #898989;
}


// @define Result actions fixed
.stick {
	& .action_fixed {
		padding-left: calc(var(--baseContentSize) + 2rem);
		padding-right: calc(var(--baseContentSize) + 2rem);
	}
}

#sticky {
	width: 100%;
	left: 0;
}

#sticky.stick {
	position: fixed;
	top: 70px;
	z-index: 5;
}

.action_fixed {
	margin-left: -20px;
	margin-right: -20px;
}