<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Server Error</title>

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/css/style.css" />

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>500</h1>
			</div>
			<h2>Oops! Something went wrong.</h2>
			<p>Try again later and contact the admin if the problem persists</p>
			<p style="color:red">Error: <%= error_message %></p>
			<a href="/">Go To Homepage</a>
		</div>
	</div>
</body>
</html>