<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>Statement Utility ~ User Reset Login ~ SCB</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendors/iconfonts/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="/assets/vendors/iconfonts/typicons/src/font/typicons.css">
    <link rel="stylesheet" href="/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    
    
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/assets/css/app/style.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
</head>

<body class="box--bg--white" data-theme="absa-default">
    <div class="container mc-content w-100 box--bg--white" id="appRoot">
        <div class="box-root">
            <div class="c-content" id="content">
                <div
                    class="authFirstTime_wrapper [ mx-auto margin-top--48 mb-0 pb-0 padding-top--28 padding-right--36 padding-left--36 ]">
                    <div class="authFirstTime_content [ mx-auto ]">
                        <div class="box-root row ">
                            <div class="container col-md-4">
                                <div class="box-root">
                                    <div class="org_logo [ ml-0 mr-0 margin-bottom--12 margin-top--22 ]"></div>
                                </div>
                            </div>
                            <div class="container col-md-7">
                                <div class="overflow-hidden box-root">
                                    <div class="margin-bottom--48 authFirstTime_form">
                                        <div class="box-root">
                                            <div class="authFirstTime_formWrapper w-auto">
                                                <div class="container w-auto overflow-hidden">
                                                    <div
                                                        class="text-numericSpacing--proportional text-color--dark text-wrap--wrap font-size--42 line-height--46 margin-bottom--18">
                                                        <span>Your ID has been Lock. Contact Technology to Reset</span>
                                                    </div>
                                                    <p
                                                        class="text-numericSpacing--proportional text-color--default text-wrap--wrap font-size--16 line-height--20 margin-bottom--24">
                                                        <span>Ccontact Your Systems Administrator to Unlock Your ID.</span>
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
</script>
<%= partial("partials/logout.html") %>

<!-- plugins:js -->


<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/assets/js/shared/off-canvas.js"></script>
<script src="/assets/js/shared/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="/assets/js/app/dashboard.js"></script>
<script src="/assets/js/app/Passwordpolicy.js"></script>
<script src="/assets/js/app/passwordVisibilityToggle.js"></script>
<!-- End custom js for this page-->
</body>

</html>