<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
  <title>STMT UTILITY ~ Reports ~ SCB</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/assets/vendors/iconfonts/ionicons/css/ionicons.css">
  <link rel="stylesheet" href="/assets/vendors/iconfonts/typicons/src/font/typicons.css">
  <link rel="stylesheet" href="/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
  
  
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/assets/css/shared/style.css">
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="/assets/css/app/style.css">
  <!-- End Layout styles -->
  <link rel="shortcut icon" href="/assets/images/favicon.ico" />
</head>

<body class="box--bg--white" data-theme="absa-default">
  <div class="container mc-content w-100 h-100 box--bg--white" id="appRoot">
    <div class="box-root">
      <div class="c-content margin-bottom--48" id="content">
        <div class="authForgotPasswordWrapper padding-horizontal--6 padding-vertical--6 mx-auto mc-content-mini">
          <div class="text-center [ mx-0 margin-top--26 margin-bottom--12 ]">
            <div class="box-root">
              <div class="org_logo org_logo-md [ mx-auto margin-bottom--12 margin-top--22 ]"></div>
            </div>
          </div>
          <div class="margin-bottom--48 authForgotPasswordContent">
            <div class="container">
              <div class="row">
                <div class="box-root w-100">
                  <form class="authForm authLogin_form box-root" id="authLoginForm" method="POST" novalidate="novalidate">
                    <%= csrf() %>
                    <div class="box-root margin-bottom--30 margin-top--12">
                      <div
                        class="text-center text-numericSpacing--proportional text-color--dark text-wrap--wrap font-size--36 line-height--28 margin-bottom--24">
                        <span class="text-capitalize">Reset your password</span>
                      </div>
                      <p
                        class="text text-numericSpacing--proportional text-color--default text-wrap--wrap font-size--16 line-height--20 margin-bottom--12">
                        <span>We'll email you instructions to reset your password. Please contact your administrator for
                          any
                          difficulties.</span>
                      </p>
                    </div>
                    <fieldset class="padding-vertical--10 m-0 border-0">
                      <div class="form-group mb-0 padding-top--16">
                        <div clas="box-root">
                          <div class="d-flex flex-row justify-content-between align-items-center mb-2">
                            <label class="font-size--14 font-weight-medium mb-0" for="auth[ABNumber]">
                              <span
                                class="font-size--14 text-color--def text-numericSpacing--proportional d-inline text-wrap--wrap">People Wise
                                ID - (Staff ID)</span>
                            </label>
                          </div>
                        </div>
                        <div class="cursor-text">
                          <div class="box-root pressureBase">
                            <input type="text" class="form-control form-control-lg br--0 "
                              id="auth[ABNumber]" autocomplete="off" name="ab_number" value='<%= old_input("ab_number") %>'>
                            <%= if(input_has_error("ab_number")) { %>
                            <div class="box-root box-hideIfEmpty margin-top--2 pointer-events--auto helperText helperText-isActive">
                              <div class="padding-top--4">
                                <div class="box-root d-flex flex-row align-items-center position-relative">
                                  <div
                                    class="box-root d-flex flex-row flex-1-1--auto align-items-center justify-content-start">
                                    <div class="padding-right--8">
                                      <span class="text-color--red600">
                                        <i class="mdi mdi-alert"></i>
                                      </span>
                                    </div>
                                    <span
                                      class="font-size--14 text-color--red700 font-weight-medium line-height--20 text-numericSpacing--proportional text-wrap--wrap d-block">
                                      <%= input_error_message("ab_number") %>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <% } %>
                          </div>
                        </div>

                      </div>
                      <div class="box-root padding-vertical--14">
                        <div class="ButtonGroup box-root">
                          <div class="d-flex align-items-center justify-content-start flex-nowrap"
                            style="margin-left:-8px;margin-top:-8px;">
                            <div class="margin-top--8 margin-left--8 flex-1-1--auto">
                              <div class="box-root padding-right--8">
                                <button
                                  class="btn btn-padded btn-sm btn-primary pressureButton pressureButton-primary w-100">
                                  <span class="font-weight-medium text-capitalize">Reset password</span>
                                </button>
                              </div>
                            </div>
                            <div class="margin-top--8 margin-left--8 flex-1-1--auto">
                              <div class="box-root">
                                <a class="d-flex align-items-center" href="/">
                                  <span class="text-color--dark font-weight-medium text-capitalize font-size--14">Return
                                    to login</span>
                                </a>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>




<!-- plugins:js -->


<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/assets/js/shared/off-canvas.js"></script>
<script src="/assets/js/shared/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="/assets/js/app/dashboard.js"></script>
<!-- End custom js for this page-->
</body>

</html>