<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>Statement ~ Utility ~ SCB</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendors/iconfonts/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="/assets/vendors/iconfonts/typicons/src/font/typicons.css">
    <link rel="stylesheet" href="/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <!--link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.addons.css"--->
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/assets/css/app/style.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
</head>

<body class="box--bg--white" data-theme="absa-default">
    <div class="container mc-content w-100 box--bg--white" id="appRoot">
        <div class="box-root">
            <div class="c-content" id="content">
                <div
                    class="authFirstTime_wrapper [ mx-auto margin-top--48 mb-0 pb-0 padding-top--28 padding-right--36 padding-left--36 ]">
                    <div class="authFirstTime_content [ mx-auto ]">
                        <div class="box-root row ">
                            <div class="container col-md-12">
                                <div class="overflow-hidden box-root">
                                    <div class="margin-bottom--48 authFirstTime_form">
                                        <div class="box-root">
                                            <div class="authFirstTime_formWrapper w-auto">
                                                <div class="container w-auto overflow-hidden">
                                                    <div
                                                        class="text-numericSpacing--proportional text-color--dark text-wrap--wrap font-size--42 line-height--46 margin-bottom--18">
                                                        <span>Application Password Setup </span>
                                                    </div>
                                                    <p
                                                        class="text-numericSpacing--proportional text-color--default text-wrap--wrap font-size--16 line-height--20 margin-bottom--24">
                                                        <span>Enter a new application password.</span>
                                                    </p>
                                                    <form class="authForm authFirstTime_form box-root"
                                                        id="authFirstTimeForm" method="POST">
                                                        <%= csrf() %>
                                                        <fieldset class="padding-vertical--10 m-0 border-0">
                                                            <div class="form-group mb-0 padding-vertical--16">
                                                                <div clas="box-root">
                                                                    <div
                                                                        class="d-flex flex-row justify-content-between align-items-center mb-2">
                                                                        <label
                                                                            class="font-size--14 font-weight-medium mb-0">
                                                                            
                                                                            <span
                                                                                class="font-size--14 text-color--def text-numericSpacing--proportional d-inline text-wrap--wrap">Password</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="cursor-text">
                                                                    <div class="box-root pressureBase">
                                                                        <input type="password"
                                                                            class="password form-control form-control-lg br--0"
                                                                            
                                                                            id="password" name=password>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group mb-0 padding-vertical--16">
                                                                <div clas="box-root">
                                                                    <div
                                                                        class="d-flex flex-row justify-content-between align-items-center mb-2">
                                                                        <label
                                                                            class="font-size--14 font-weight-medium mb-0"
                                                                            >
                                                                            <span
                                                                                class="font-size--14 text-color--def text-numericSpacing--proportional d-inline text-wrap--wrap">Confirm
                                                                                password</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="cursor-text">
                                                                    <div class="box-root pressureBase">
                                                                        <input type="password"
                                                                            class="form-control form-control-lg br--0 password_confirm"
                                                                            id="passwordConfirm"  name="passwordConfirm" 
                                                                            placeholder="repeat password" >
                                                                    </div>
                                                                </div>
                                                            </div>                                                            
                                                            <div class="box-root padding-bottom--12">
                                                                <div class="ButtonGroup box-root">
                                                                    <div class="d-flex align-items-center justify-content-start flex-nowrap"
                                                                        style="margin-left:-8px;margin-top:-8px;">
                                                                        <div class="margin-top--8 margin-left--8">
                                                                            <div class="box-root">
                                                                                <button
                                                                                onclick="verifyPassword()" 
                                                                                type="submit"
                                                                                    class="btn btn-sm btn-primary pressureButton pressureButton-primary" >
                                                                                    <span
                                                                                        class="font-weight-medium" >Save
                                                                                         Setup password</span>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- plugins:js -->

<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/assets/js/shared/off-canvas.js"></script>
<script src="/assets/js/shared/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="/assets/js/app/dashboard.js"></script>
<script>  
    function verifyPassword(form) {  
     // var pw = document.getElementById("pswd").value;  
      var password = document.getElementById('password');
      var passwordConfirmation = document.getElementById('passwordConfirm');
      //check empty password field  
      if(password.value == "" || passwordConfirmation.value == "") {  
          alert("Either Passwords or Comfirmed_Password Field is empty");  
          return false;   
      }  
    
    //check if password matches with the Confirmed Password  
     if(password.value != passwordConfirmation.value)  
      {   
        alert("Passwords did not match"); 
        return false; 
      } else {  
        document.getElementById("authFirstTimeForm").submit();
      }  
    
    }  
    </script> 
<!-- End custom js for this page-->
</body>

</html>