
	<!DOCTYPE html>
	<html lang="en">
		<body>
		
	<style>
			tr{
				display: flex;
				justify-content: space-between;
			}
			p{
				font-size: medium;
			}
			table{
				width: 100%;
			}
		</style>
	
		<table style="height:120;" >
		<tr>
			<td>&nbsp;</td>
			<td style="text-align: center;float: right;">
				<h3>STATEMENT OF ACCOUNT</h4>
				<p>FOR ACCOUNT NUMBER 0100100031200</p>
				<p >From 2015-02-01 To 2015-03-30 </p>
				<p><strong>CURRENCY SIERRA LEONE LEONE                                </strong></p>
			</td>
			<td>
				<img src="http://127.0.0.1:3000/assets/images/logo.jpg" height="130" width="150"  alt="" style="float: right;">
			</td>
		</tr>
	</table>
		</body>
	</html>
	